.Adjustbutton{
    width:240px;
    display: block;
    margin: auto;
    height:50px;
    margin-top: 80px;
    background-color: transparent;
    border: 4px solid black;
    outline: none;
    border-radius: 25px;
    color: black;
}
.Adjustbutton:hover{
    background-color: black;
    color: white;
}
.inputparent{
    margin-top: 60px;
    margin-left: 10%;
    display: flex;
    margin-bottom: 40px;
    width: 80%;
    height:50px;
    background-color: #e8e9ea;
    border: 1px solid #e8e9ea;
    border-radius: 28px;
}
.inputer{
    margin-left: 2%;
    width:96%;
    background-color: transparent;
    border: 1px solid transparent;
    text-align: center;
}
textarea:focus, input:focus{
    outline: none;
}
.loader{
    margin-left: 47%;
    margin-right: auto;
}
@media only screen and (min-width: 500px){
    .editor-adjust{
        max-height:400px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}
@media only screen and (max-width: 500px){
    .editor-adjust{
        max-height:200px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}
.biginput{
    height: 80px;
    width: 100%;
    border: 1px solid #e8e9ea;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.adjustloader{
    margin-left: auto;
    margin-right: auto;
}